

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000 !important;
}

header{
  display: none !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  height: 30px;
  padding-top: 10px;
}




/* Chart */

.logo {
  width: 45px;
  height: 50px;
  margin: 5px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 2.5rem;
  font-family: Kanit,sans-serif;
  
}

.span{
  font-size: 1.3rem;
  opacity: .8;
}

.component {
  color: #000;
  text-align: center;
  transition: .2s;
}

.hive {
  font-size: 26.4px;
}

.contain {
  background-color: orange;
  
}




/* orders.jsx */

.grid1 {
  background-color: rgba(var(--text-light-rgba),1);
  border: 1px solid #6f6f7b;
  width: 100%;
  margin: 0 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  transition: .2s;
  height: 200px;
}

.grid2 {
  background: linear-gradient(90deg,#020024,#ffbd17 0,#df9f00);
  border: 1px solid #6f6f7b;
  border-radius: 5px;
  transition: .2s;
  height: 200px;
  text-align: center;
}

.layer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}


.layer1 {
  border: 1px solid #6f6f7b;
  border-radius: 5px;
  transition: .2s;
  height: 200px;
  width: 300px;
  /* margin: 30px; */
}

.flex {
  display: flex;
  justify-content: center;
}

.click {
  border: 1px solid #6f6f7b;
  margin: 0px 10px;
}

.button {
  color: #fff;
 width: 80%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;
  font-family: Kanit,sans-serif;
  
  margin-top: auto;
  align-items: center;
}

.pointer {
  background:  #eeaa01;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
}

thead tr th {
  background: #eeaa01;
  padding: 10px 25px;
}

table {
  color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    width: 100%;
    overflow-x: auto;
}

tbody {
  height: 90px;
}






@media only screen and (min-width: 320px) {
 
 
    .css-cvumne-MuiDrawer-docked .MuiDrawer-paper {
     width: 400px !important;
    }

    .dashboard .page .rewards-wrapper {
      padding: 1rem;
  }

  .number {
    font-size: 17.6px !important;
  }

  .span{
    font-size: 12.32px !important;
  }

  .hive {
    font-size: 17.6px !important;
  }

  .logo {
    width: 30px !important;
    height: 30px !important;
    margin: 5px !important;
  }

  .css-1k4g7q2-MuiPaper-root {
    height: 150px !important;
  }

  .layer {
    display: block ;

  }

  .layer1 {
    height: 180px;
    width: 200px;
  }
}